@model ApplicationCore.Entities.Patient
@{
    ViewData["Title"] = "Edit Patient";
}

<h2>Edit Patient</h2>

<form id="editPatient">

    @await Html.PartialAsync("_patientPartial", Model)
    <div class="form-group mt-3">
        <input type="button" id="save" value="Update" class="btn btn-primary" />
        <a asp-controller="Patients" asp-action="PatientsList" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            var editId = $("#Id").val();

            const url = "/api/PatientInformation/EditDataById" + "/" + editId;
            GetAjax(url).then(response => {
                console.log(response);
                populateFields(response);
            });
        });

        function populateFields(response) {
            const dropdown = $('#fromNCD');
            const diseaseDropdown = $('#DiseaseId');
            const allergiesDropdown = $('#fromAllergies');
            dropdown.empty();
            diseaseDropdown.empty();
            allergiesDropdown.empty();

            $.each(response.ncDs, function (index, item) {
                $('<option>', {
                    value: item.value,
                    text: item.text
                }).appendTo(dropdown);
            });
            $.each(response.diseases, function (index, item) {
                $('<option>', {
                    value: item.value,
                    text: item.text
                }).appendTo(diseaseDropdown);
            });
            $.each(response.allergies, function (index, item) {
                $('<option>', {
                    value: item.value,
                    text: item.text
                }).appendTo(allergiesDropdown);
            });

            // Set the selected disease
            $('#PatientName').val(response.patientName);
            $('#EpilepsyType').val(response.epilepsyType);
            $('#DiseaseId').val(response.diseaseId);
            $('#SelectedNCDs').val(response.selectedNCDs);
            $('#SelectedAllergies').val(response.selectedAllergies);

            // Move the selected NCDs from fromNCD to toNCD
            var selectedNCDs = response.selectedNCDs.split(',');
            selectedNCDs.forEach(function (ncdId) {
                var option = $('#fromNCD option[value="' + ncdId + '"]');
                $('#toNCD').append(new Option(option.text(), option.val()));
                option.remove();
            });

            var selectedAllergies = response.selectedAllergies.split(',');
            selectedAllergies.forEach(function (allergiesId) {
                var optionAllergies = $('#fromAllergies option[value="' + allergiesId + '"]');
                $('#toAllergies').append(new Option(optionAllergies.text(), optionAllergies.val()));
                optionAllergies.remove();
            });
        }
        function firstLetterLowerCase(str) {
            if (!str) return str;
            return str.charAt(0).toLowerCase() + str.slice(1);
        }
        $("#save").click(async function () {
            try {
                let formData = new FormData($("#editPatient")[0]);

                const url = "/api/PatientInformation/EditPatient";

                const formObject = {};
                formData.forEach((value, key) => {
                    if (formObject[key]) {
                        if (!Array.isArray(formObject[key])) {
                            formObject[firstLetterLowerCase(key)] = [formObject[key]];
                        }
                        formObject[firstLetterLowerCase(key)].push(value);
                    } else {
                        formObject[firstLetterLowerCase(key)] = value;
                    }
                });

                let response = await SaveAjax(url, JSON.stringify(formObject));
                if (typeof (response) == "object") {
                    alert("Updated succesfully");
                    window.location.href = '/Patients/PatientsList';
                }
            } catch (e) {
                console.error(e);
            }
        });

        function GetAjax(destination) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: destination,
                    method: "GET",
                    dataType: "JSON",
                    success: function (response) {
                        resolve(response);
                    },
                    error: function (response) {
                        reject(response);
                    }
                });
            });
        }

        function SaveAjax(destination, jsonData) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: destination,
                    type: "post",
                    data: jsonData,
                    contentType: "application/json",
                    success: function (response) {
                        resolve(response);
                    },
                    error: function (response) {
                        reject(response);
                    }
                });
            });
        }

        $('#addAllergies').click(function () {
            var selectedValue = $('#fromAllergies').val();
            var selectedText = $('#fromAllergies option:selected').text();

            if (selectedValue) {
                $('#toAllergies').append(new Option(selectedText, selectedValue));
                $('#fromAllergies option:selected').remove();
                updateSelectedAllergies();
            }
        });

        $('#removeAllergies').click(function () {
            var selectedValue = $('#toAllergies').val();
            var selectedText = $('#toAllergies option:selected').text();

            if (selectedValue) {
                $('#fromAllergies').append(new Option(selectedText, selectedValue));
                $('#toAllergies option:selected').remove();
                updateSelectedAllergies();
            }
        });

        function updateSelectedAllergies() {
            var selecteAllergies = [];
            $('#toAllergies option').each(function () {
                selecteAllergies.push($(this).val());
            });
            $('input[name="SelectedAllergies"]').val(selecteAllergies.join(','));
        }

        $('#addNCD').click(function () {
            var selectedValue = $('#fromNCD').val();
            var selectedText = $('#fromNCD option:selected').text();

            if (selectedValue) {
                $('#toNCD').append(new Option(selectedText, selectedValue));
                $('#fromNCD option:selected').remove();
                updateSelectedNCDs();
            }
        });

        $('#removeNCD').click(function () {
            var selectedValue = $('#toNCD').val();
            var selectedText = $('#toNCD option:selected').text();

            if (selectedValue) {
                $('#fromNCD').append(new Option(selectedText, selectedValue));
                $('#toNCD option:selected').remove();
                updateSelectedNCDs();
            }
        });

        function updateSelectedNCDs() {
            var selectedNCDs = [];
            $('#toNCD option').each(function () {
                selectedNCDs.push($(this).val());
            });
            $('input[name="SelectedNCDs"]').val(selectedNCDs.join(','));
        }

    </script>
}
